<section class="settings">

    <app-return-button/>

    <h1 class="settings__title">MemoRush</h1>

    <!-- Changement de l'affichage -->
    <div class="settings__switch">
        <button
        type="button"
        class="settings__link"
        (click)="onClickDisplayPage('infos')"
        [ngClass]="{active: page === 'infos'}" >
            Paramètres
        </button>
        <div class="settings__separator"></div>
        <button
        type="button"
        class="settings__link"
        (click)="onClickDisplayPage('preview')"
        [ngClass]="{active: page === 'preview'}" >
            Preview
        </button>
    </div>

    <div class="settings__container">     
        <!-- Affichage conditionnel -->
        @if (page ==='infos' || isDesktop) {
            <form class="settings__form form" [formGroup]="settingsForm" (ngSubmit)="onSubmitForm()" >

                <label for="name">Pseudo :</label>
                <input type="text" id="name" formControlName="name">

                <label for="theme">Thème des cartes :</label>
                <select id="theme" formControlName="theme">
                    <option value="choix1">Choix 1</option>
                    <option value="choix2">Choix 2</option>
                    <option value="choix3">Choix 3</option>
                </select>

                <!-- Modification de la difficulté du jeu -->
                 <div class="settings__difficulties difficulties">
                     <label for="difficulty">Difficulté :</label>
                     <div class="difficulties__container">
                         @for (difficulty of difficulties; track difficulty.value) {
                             <button
                             type="button"
                             class="form__button"
                             (click)="changingDifficulty(difficulty.value)" 
                             [ngClass]="{selected: settingsForm.get('difficulty')?.value === difficulty.value}" >
                                {{difficulty.label}}
                            </button>
                        }
                    </div>
                </div>

                <!-- Gestion du son pendant la partie -->
                 <div class="settings__sounds">
                     <label for="sound">Son du jeu :</label>
                     <div class="sounds__container">
                         @for (sound of sounds; track sound.value) {
                             <button
                             type="button"
                             (click)="changingSound(sound.value)"
                             [ngClass]="{selected: settingsForm.get('sound')?.value === sound.value}"
                             class="form__button">
                             {{sound.label}}
                            </button>
                        }
                    </div>
                </div>
                    <app-validate-button/>
            </form>
        }            
        
        <!-- Affichage conditionnel de la preview -->
        @if (page === 'preview' || isDesktop) {
            <div class="settings__preview preview">
                <div
                class="preview__container"
                [ngClass]="settingsForm.get('difficulty')?.value">

                    @for (item of [].constructor(getCardsCount()); track $index) {
                        <div class="carre">
                            <p>MR</p>
                        </div>
                    }
                </div>
            </div>
        }

    </div>

</section>
