@use '../../../style/variables' as v;

.homepage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
    }

    &__separator {
        background-color: v.$primary;
        height: 1px;
        width: 30%;
    }

    &__button {
        font-size: 2rem;
        width: 65vw;
        padding: 1rem 0;

        &:last-child {
            margin-bottom: 7rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .homepage {
        &__title {
            font-size: 15vw;
        }

        &__button {
            font-size: 3.5rem;
            width: 50vw
        }

        &__separator {
            width: 20%
        }
    }
}

@media screen and (min-width: 1340px) {
    .homepage {
        &__title {
            font-size: 20rem;
        }

        &__button {
            width: 30vw
        }

        &__separator {
            width: 10%
        }
    }
}
