@use '../../../../style/variables' as v;

.register {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        margin-bottom: 0;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 85%;
        max-width: 400px;
    }
}

.back-button {
    font-size: 2rem;
    background-color: v.$secondary;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.validate-button {
    font-size: 2rem;
    font-weight: 600;
    margin: 4rem 0;
    padding: 1rem 0;
}

@media screen and (min-width: 768px) {
    .back-button {
        padding: 0.5rem 2rem;
        top: 2rem;
        left: 2rem;
    }
}

@media screen and (min-width: 1340px) {
    .register {
        &__form {
            width: 30%;
            max-width: 500px;
        }
    }
}